<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest" parallel="tests" thread-count="2">

    <test name="Registration">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.example.RegistrationTest">
                <methods>
                    <include name="makeMistakeDuringRegistration"/>
                    <include name="logInAsUnregisteredUser"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Shopping">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.example.OrderShoppingTest">
                <methods>
                    <include name="checkPriceOfItemInBasketTop"/>
                    <include name="checkPriceOfTwoItemsInBasketTop"/>
                    <include name="checkPriceOfTreeItemsInBasketTop"/>
                    <include name="checkPriceOfItemInCart"/>
                    <include name="checkPriceOfTwoItemsInCart"/>
                    <include name="checkPriceOfTreeItemsInCart"/>
                    <include name="checkSortingByType"/>
                    <include name="removeItemsFromBasketTop"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
